@import "normalize.css"
@import "pygments-css/monokai.css"

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic,cyrillic-ext,latin-ext')

body
  font-family 'Fira Mono', sans-serif
  margin 10px

  .container
    margin auto
    max-width 900px

.post
  h3
    text-decoration underline

  .post-content
    border-left 5px solid lightgrey
    padding-left 20px
    overflow auto

.avatar
  display inline-block
  width 1.5em
  height 1.5em
  background url(./avatar.svg)
  background-size contain

.codehilite
  border-radius 10px

  pre
    padding 10px
