<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}bakatrouble's blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
