{% extends 'base.html' %}

{% block content %}
    <h1><span class="avatar"></span> bakatrouble's blog</h1>
    {% for name, post in posts.items() %}
        <div class="post">
            <h3>{{ name }}</h3>
            <div class="post-content">{{ post.content | safe }}</div>
        </div>
    {% endfor %}
    <p>Page {{ page + 1 }} out of {{ page_count }} ({{ post_count }} posts total)</p>
    <p>{% if page > 0 %}<a href="?page={{ page - 1 }}">&lt; Previous</a>{% endif %}</p>
    <p>{% if page < page_count - 1 %}<a href="?page={{ page + 1 }}">Next &gt;</a>{% endif %}</p>
{% endblock %}
